<div class="menu">
  <ul>
    <li style="width:0px;"><a></a></li>
    <li><a href="#" class="home"><%=image_tag "home.png"%>主页</a></li>
    <li><a href="#" class="cart"><%=image_tag "cart.png"%>我的购物车</a></li>
    <li><a href="#" class="cart"><%=image_tag "wish_list.png"%>我的订单</a></li>
    <li class="active"><a class="account"><%=image_tag "account.png"%>仪器提供方</a></li>
    <li><a class="checkout"><%=image_tag "checkout.png"%>退出</a></li>
    <li style="float:right;"><a href="#" class="login"><%=image_tag "login.png"%>登录</a></li>
    <li style="float:right;"><a class="register"><%=image_tag "register.png"%>注册</a></li>
  </ul>
</div>