<div class="container">
<h1>修改信息</h1>
<div id="registerDiv">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :登录名 %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :密码 %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :姓名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :性别 %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :身份证号 %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :联系电话 %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :电子邮箱 %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :用户类型 %><br>
    <%= f.text_field :utype %>
  </div>
  <div class="actions">
    <%= submit_tag "修改", :class => "submit" %> 
  </div>
<% end %>
<%= link_to '返回', users_path %>

</div>
