<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>用户名:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>姓  名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>性  别:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>联系电话:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>邮  箱:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>用户类型:</strong>
  <%= @user.utype %>
</p>
<%= link_to '修改信息', edit_user_path(@user) %> |
<%= link_to '返回主页', welcome_index_path %>
</div>


