<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>UserName:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.utype %>
</p>
<%= link_to '修改信息', edit_user_path(@user) %> |
<%= link_to '返回主页', welcome_index_path %>
</div>


