<div/>
<div class="container">
<div id="content">
	<div class="block-white">
		<div class="block-content">
		</div>
		<div class="separator">
		</div>
		<div class="block-content">
			<div class="product-info">
				<div class="left">
					<div class="image">
						<a href="#" title="iMac">
							<%= image_tag(@instrument.image_url, :size => "228x228") %>
						</a>
					</div>
				</div>
				<div class="right">
					<div id="tab-information" class="tab-content">
						<div id="information">
						</div>
						<div class="description">
							<span>
								禄&nbsp;浠ㄥ绉:
							</span>
							<a href="#">
								<%= @instrument.name %>
							</a>
							<br>
							<span>
								禄&nbsp;浠ㄥ:
							</span>
								<%= @instrument.type_name %>
							<br>
							<span>
								禄&nbsp;浠ㄥ绫:
							</span>
								<%= @instrument.itype %>
							<br>
							<span>
								禄&nbsp;浠ㄦ杩:
							</span>
								<%= @instrument.description %>
						</div>
						<div class="price">
							<span class="price-new">
								浠锋硷?<%= @instrument.price %> /灏?
							</span>
						</div>
						<br>
			<div class="category-info">
	  	  <div class="description"> 棰绾堕达</div>
	  	  <div class="appointment-info">
	        <table id="orderTable" class="orderTable">
	          <thead>
	            <tr>
	              <th > </th>
	              <th >ㄤ</th>
	              <th >ㄤ</th>
	              <th >ㄤ</th>
	              <th >ㄥ</th>
	              <th >ㄤ</th>
	              <th >ㄥ</th>
	              <th >ㄦ</th>
	            </tr>
	          </thead>
	          <tbody>
	          	<% for i in 0..(21-6)  %>
		            <tr>
		              <td class="bold"><%= WelcomeController.show_init_available_time(i)%></td>
		              
		              <% for j in 0..6  %>
		                <% if @avaliable[i][j] == 1 %>
		                	<td class="avaliable"><input type="checkbox" onclick="addOrderTime(this)">棰绾?/input></td>
		                <% else %>
		                
		              	<td class="inavaliable"><a href="#" data-background-color="#990000">宸插?/a></td>
		              	
		                <% end %>
		              <% end %>
		            </tr>
		        <% end %>
		         </tbody>
	        </table>
	        <%= form_for :line_item , url: {action: "create"} do |f| %>
		      
	        <div>
	        	<div class="description">宸查绾堕达</div>
	        	<div><%= f.text_area(:orderTime, cols: 50, rows: 10,id: 'order_time')%></div>
	        	
	        </div>
	        <div>
	        	<%= f.hidden_field(:id,value: @instrument.id )%>
	        </div>
	      </div>
	  		</div>
	  		
						<div class="cart">
							<div>
								<br/>
								<%= f.submit "ヨ喘╄?, {:action=>'create',:instrument_id =>@instrument.id} %>
							</div>
						</div>
						<% end %>
					</div>
					<div class="price">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>