

<div id="content">
  <div class="block-white">
    <div class="block-content"> </div>
    <div class="separator"></div>
    <div class="block-content">
      <div class="product-info">
        <div class="right">
          <div class="image"><%= image_tag( @undone_order.orders_instruments.find(@undone_order.id).instrument.image_url, :size => "218x218") %></div>
        </div>
        <div class="category-info">
          <div class="desc_undone_order"> <a>订单号：</a> <%= @undone_order.id.to_s %> </div>
          <div class="desc_undone_order"> <a>提交日期：</a> <%= @undone_order.create_time.to_s.split(' ')[0] %> </div>
          <div class="desc_undone_order"> <a>预约用户：</a> <%= @undone_order.user.name + '(' + @undone_order.user.department.name + ')' %> </div>
          <div class="desc_undone_order"> <a>预约仪器：</a> 
          	<%= @undone_order.orders_instruments.find(@undone_order.id).instrument.name %> &nbsp; 
          	<%= @undone_order.orders_instruments.find(@undone_order.id).instrument.type_name %> &nbsp;-&nbsp;
          	<%=  @undone_order.orders_instruments.find(@undone_order.id).instrument.number %> </div>
          <div class="desc_undone_order"> <a>预约时间：</a> 
          	<%= @part = @undone_order.orders_instruments.find(@undone_order.id).part.split(',')
        		@part[0] + ':00 到 ' + @part[1] + ':00'
        	%> </div>
        </div>
        
        <% if @undone_order.state_value == 2 %>  
	        <div class="right"> <%= button_to "刷卡关机", { action: "closedown", id: @undone_order.id }, :form_class =>"card_button" %> </div>
	        <div class="right"> <%= button_to "刷卡开机", { action: "startup", id: @undone_order.id }, :form_class =>"card_button"%> </div>
        <% elsif @undone_order.state_value == 3 %>  
	        <div class="right"> <%= button_to "刷卡关机", { action: "closedown", id: @undone_order.id }, :form_class =>"card_button"%> </div>
	        <div class="right"> <%= button_to "刷卡开机", { action: "startup", id: @undone_order.id }, :form_class =>"card_disable_button" %> </div>
	    <% else %>  
	        <div class="right"> <%= button_to("刷卡关机", { action: "closedown", id: @undone_order.id }, :form_class =>"card_disable_button") %> </div>
	        <div class="right"> <%= button_to "刷卡开机", { action: "startup", id: @undone_order.id }, :form_class =>"card_disable_button" %> </div>
        <% end %>
        
        <div class="category-info">
          <div class="desc_undone_order"> <a>预约状态：</a> </div>
            <% @undone_order.orders_states.each do |state| %>
              <div class="state"> 
              	<%= state.create_time.to_s(:db) %> &nbsp;&nbsp; 
              	<%= state.state %>
          	</div>
            <% end %>
        </div>
        
        <% if @undone_order.state_value == 4 %>  
	        <div class="category-info", style="width:530px">
	          <div class="desc_undone_order"> <a>结算金额：</a> 
	      		  <%= form_tag({controller: "undone_orders", action: "account", :id=>@undone_order}, method: "post") do %>
		          	  <%= text_field_tag(:money, '', size:30)  %> &nbsp;元 &nbsp;&nbsp; &nbsp;&nbsp; 
		          	  <%= submit_tag '提交结算' %>
	          	  <% end %>
	         </div>    
	        </div>
         <% end %>
        <div class="actions">
        	<%= link_to '返回', undone_orders_path %> 
    	</div>
      </div>
    </div>
  </div>
</div>

</div>

