

<div id="content">
<div class="product-list">
  <!-- begin a product -->
  <% @undone_orders.each do |order| %>
  <div class="struct">
    <div class="struct-center">
      <div class="line"> 
        <div class="first-line "> 
        	<a> 订单号：<%= order.id.to_s %> </a> 
        	<a class="margin"> 提交日期：<%= order.create_time.to_date.to_s %> </a> 
    	</div>
    	<div class="right">
          <div> 
          	</br>
             <%= link_to "修改订单状态  ", edit_undone_order_path(order) %>      
          </div>
        </div>

        <div class="image"> <%= image_tag( order.orders_instruments.find_by_order_id(order.id).instrument.image_url, :size => "100x100") %> </div>
        <div class="order"> <%= order.orders_instruments.find_by_order_id(order.id).instrument.name %> 
        			 &nbsp; <%= order.orders_instruments.find_by_order_id(order.id).instrument.type_name %>
        			 &nbsp;-&nbsp;<%=  order.orders_instruments.find_by_order_id(order.id).instrument.number %> 
    	</div>
        </br>
        <div class="order"> <%= order.user.name + '(' + order.user.department.name + ')' %> &nbsp;&nbsp; &nbsp;
        					<%= order.orders_instruments.find_by_order_id(order.id).order_time %> &nbsp; 
        				 
        				    <%= @part = '7,8'.part.split(',')
        				    	@part[0] + ':00 到 ' + @part[1] + ':00'
        				    %> 	
    				    	</div>      
        <div class="order_state"> 
        	<%= order.orders_states.find_by_sql("SELECT * FROM orders_states WHERE order_id = " + order.id.to_s + " ORDER BY create_time DESC").first.state  %>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <% end %>
  <!--end a product -->
</div>

<%= stylesheet_link_tag "application"%>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @orders, :html => false%>
  </div>
  <%= will_paginate @orders, :container => false, :previous_label=>'前一页', :next_label=>'后一页'  %>
</div>
