

<div id="content">
<div class="product-list">
  <!-- begin a product -->
  <% @uncheck_orders.each do |uncheck_order| %>
  <div class="struct">
    <div class="struct-center">
      <div class="line"> 
        <div class="first-line "> 
        	<a> 提交日期：<%= uncheck_order.create_time.to_s.split(' ')[0] %> </a> 
        	<a class="margin"> 订单号：<%= uncheck_order.order_id.to_s %> </a> 
        	<a class="margin"> 预约用户：<%= uncheck_order.user_name %> </a> 
    	</div>
    	<div class="right">
          <div> 
          	</br>    
            <%= button_to "同意预约", { action: "agree_apointment", id: uncheck_order.order_id }, data: { confirm: '同意该用户的本次预约？'} %>        
          </div>
        </div>
        <div class="image"> <%= image_tag(uncheck_order.image_url, :size => "110x110")%></div>
        <div class="order"> <%= uncheck_order.name %> &nbsp; <%=  uncheck_order.type_name %>&nbsp;-&nbsp;<%=  uncheck_order.number %> </div>
        </br>
        <div class="order"> 预约日期：<%= uncheck_order.order_time %> &nbsp;&nbsp; <%=  uncheck_order.part %> </div>
        <div class="order"> 预约用户：<%= uncheck_order.user_name + '(' + uncheck_order.department_name + ')' %> </div>
        <div class="order"> 联系电话：<%= uncheck_order.phone %> </div>
        <div class="order"> 电子邮件：<%= uncheck_order.email %> </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <% end %>
  <!--end a product -->
</div>
