
<%= form_for(@instrument, :html => { :multipart => true }) do |f| %>
 <% if @instrument.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>
   <ul>
      <% @instrument.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
 </div>
 <% end %>
  
 <div class="product-info"> 
  <div class="right">
    <div class="image">
		<%= image_tag(@instrument.image_url, :size => "228x228") %>
		<%= f.file_field (:picture) %>
    </div>
  </div>
  <div class="category-info">
    <div class="description"> 仪器名称：<%= f.text_field( :name, :size=>"60") %></div>
    <div class="description"> 仪器型号：<%= f.text_field( :type_name, :size=>"60") %></div>
    <div class="description"> 仪器编号：<%= f.text_field( :number, :size=>"60") %></div>
    <div class="description"> 仪器类型：<%= f.select(:itype, %w{ 生物 化学 物理 电子 }) %>
	</div>
    <div class="description"> 主要功能：<%= f.text_area(:description, :rows=>"4", :cols=>"60") %> </div>
  </div>
  <div class="category-info">
  	<div class="description"> 可预约时间：</div>
    	<%= f.check_box(:monday, {:checked=>@check1}) %>
		<%= label_tag( "周一") %>
		<%= f.check_box(:tuesday, {:checked=>@check2}) %>
		<%= label_tag("周二") %>
		<%= f.check_box(:wednesday, {:checked=>@check3}) %>
		<%= label_tag("周三") %>
		<%= f.check_box(:thursday, {:checked=>@check4}) %>
		<%= label_tag("周四") %>
		<%= f.check_box(:friday, {:checked=>@check5}) %>
		<%= label_tag( "周五") %>
		<%= f.check_box(:saturday, {:checked=>@check6}) %>
		<%= label_tag( "周六") %>
		<%= f.check_box(:sunday, {:checked=>@check7}) %>
		<%= label_tag( "周日") %>
		<br></br>
		
  		<%= f.check_box('tmp_morning', {:checked=>@check8}) %>
		<%= label_tag( "允许上午预约：") %>
		<%= select_hour(@default_am_start_hour, field_name:'am_start_hour', start_hour: 6, end_hour: 12)%>：
		<%= select_minute(0, field_name:'am_start_minute', minute_step:60) %> 至 
		<%= select_hour(@default_am_end_hour, field_name:'am_end_hour', start_hour: 6, end_hour: 12)%>：
		<%= select_minute(0, field_name:'am_end_minute', minute_step:60) %>
	    <br></br>
	    
	    <%= f.check_box('tmp_afternoon', {:checked=>@check9}) %>
		<%= label_tag( "允许下午预约：") %>
		<%= select_hour(@default_pm_start_hour, field_name:'pm_start_hour', start_hour: 12, end_hour: 18)%>：
		<%= select_minute(0, field_name:'pm_start_minute', minute_step:60) %> 至 
		<%= select_hour(@default_pm_end_hour, field_name:'pm_end_hour', start_hour:12, end_hour: 18)%>：
		<%= select_minute(0, field_name:'pm_end_minute',  minute_step:60) %>
	    <br></br>
	    
	    <%= f.check_box('tmp_night', {:checked=>@check0}) %>
		<%= label_tag( "允许晚上预约：") %>
		<%= select_hour(@default_ng_start_hour, field_name:'ng_start_hour', start_hour: 18, end_hour: 22)%>：
		<%= select_minute(0, field_name:'ng_start_minute', minute_step:60) %> 至 
		<%= select_hour(@default_ng_end_hour, field_name:'ng_end_hour',  start_hour: 18, end_hour: 22)%>：
		<%= select_minute(0, field_name:'ng_end_minute',  minute_step:60) %>
  </div> 
  <div class="category-info">
    <div class="description"> 预约价格：<%= f.number_field( :price, :size=>"60") %> 元/半小时</div>
    <div class="description"> 工作状态：<%= f.select(:status, %w{ 正常 故障 维修 报废 停用 }) %></div>
  </div>
  <div class="category-info">
    <div class="description"> 购置时间：<%= f.date_field( :bought_time, :value=>@instrument.bought_time ) %> </div>
    <div class="description"> 购置金额：<%= f.number_field( :bought_price, :size=>"60") %> 元 </div>
    <div class="description"> 所属单位：<%= f.collection_select( :department_id, @depts, :id, :name) %> </div>
    <div class="description"> 放置地点：<%= f.text_field( :place, :size=>"80") %></div>
  </div>
  <div class="actions">   
  	<%= submit_tag '确认发布'%> 
  </div>
  <br></br>

<% end %>
