

<div id="content">
<div class="product-list">
  <!-- begin a product -->
  <% @instruments.each do |instrument| %>
  <div class="struct">
    <div class="struct-center">
      <div class="line"> 
        <div class="image"><%= link_to (image_tag(instrument.image_url, :size => "110x110")) , instrument %></div>
        <div class="right">
          <div class="price"><%= number_to_currency(instrument.price, :unit => "￥ ")  %></div>
          <div>
          	<%= link_to (image_tag ("information.png")) , instrument %> 
            <%= link_to (image_tag ("edit.png")), edit_instrument_path(instrument) %> 
            <%= link_to (image_tag ("delete.png")), instrument, method: :delete, data: { confirm: '确定删除？'} %>  
          </div>
        </div>
        <div class="name"><%= link_to (instrument.name + "-" + instrument.type_name) , instrument %> </div>
        <div class="description"><%= instrument.description[0, 150] + "..." %></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <% end %>
  <!--end a product -->
</div>

<%= stylesheet_link_tag "application"%>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @instruments, :html => false%>
  </div>
  <%= will_paginate @instruments, :container => false, :previous_label=>'前一页', :next_label=>'后一页'  %>
</div>

<br>
<div class="column">
  <div class="pagination">
    <div class="results"><%= link_to '发布新仪器', new_instrument_path %></div>
  </div>
</div>
