
<div id="content">
  <div class="block-white">
    <div class="block-content"> </div>
    <div class="separator"></div>
    <div class="block-content">
      <div class="product-info">
        <div class="right">
          <div class="image"><%= image_tag(@instrument.image_url, :size => "228x228") %></div>
        </div>
        <div class="category-info">
          <div class="description"> 仪器名称：<%= @instrument.name %></div>
          <div class="description"> 仪器型号：<%= @instrument.type_name %></div>
          <div class="description"> 仪器编号：<%= @instrument.number %></div>
          <div class="description"> 仪器类型：<%= @instrument.itype %></div>
          <div class="description"> 主要功能：<%= simple_format(@instrument.description)%></div>
        </div>
	   <div class="category-info">
	  	  <div class="description"> 可预约时间：</div>
	  	  <div class="appointment-info">
	        <table class="orderTable">
	          <thead>
	            <tr>
	              <td > </td>
	              <td >周一</td>
	              <td >周二</td>
	              <td >周三</td>
	              <td >周四</td>
	              <td >周五</td>
	              <td >周六</td>
	              <td >周日</td>
	            </tr>
	          </thead>
	          <tbody>
	          	<% for i in 0..(21-6)  %>
		            <tr>
		              <td class="bold"><%= InstrumentsController.show_init_available_time(i)%></td>
		              
		              <% for j in 0..6  %>
		                <% if @avaliable[i][j] == 1 %>
		                	<td class="avaliable"> 可预约 </td>
		                <% else %>
		              		<td class="inavaliable"> 不可预约 </td>
		                <% end %>
		              <% end %>
		            </tr>
		        <% end %>
	          </tbody>
	        </table>
	      </div>
	  </div>   
        <div class="category-info">
          <div class="description"> 预约价格：<%= number_to_currency(@instrument.price, :unit => "￥ ")  %>/每小时</div>
          <div class="description"> 工作状态：<%= @instrument.status %></div>
        </div>
        <div class="category-info">
          <div class="description"> 购置时间：<%= @instrument.bought_time %></div>
          <div class="description"> 购置金额：<%= number_to_currency(@instrument.bought_price, :unit => "￥ ") %></div>
          <div class="description"> 所属单位：<%= @department_name %></div>
          <div class="description"> 放置地点：<%= @instrument.place %></div>
        </div>
        <div> 
        	<%= link_to '返 回', instruments_path %> 
        	<%= link_to '编 辑', edit_instrument_path(@instrument) %> 
        	<%= link_to '删 除', @instrument, method: :delete, data: { confirm: '确定删除？'} %> </div>
      </div>
    </div>
  </div>
</div>
