</em></em></em></em>

<html lang="en" dir="ltr">
<head>
<%= stylesheet_link_tag "css"%>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<%= javascript_include_tag "jquery.min" %>  
<%= javascript_include_tag "jquery_ujs" %>

<title>仪器设备管理</title>
</head>
<body>

<%= render "share/menu" %>

<div style="width:1000px;margin: 0 auto;margin-top:10px;">
  <!-- begin left -->
  <div class="linktree"> <span > <a href="#">主页</a> &raquo; <%= link_to '仪器设备管理', instruments_path %> </span> </div>
  <div id="column-left">
    <div class="box">
      <div class="box-content" style="background:none;border:none;">
        <div class="box-category">
          <ul>
            <li class="selected"><%= link_to '仪器设备管理', instruments_path %> </li>
            <li>订单管理<a class="active"></a>
              <ul>
                <li> <%= link_to ' - 待审核的订单', uncheck_orders_path %> </li>
                <li> <%= link_to ' - 进行中的订单', undone_orders_path %> </li>
                <li> <a > - 已完成的订单</a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end left -->
  
  <div id="content">
    <%= yield :layout%> 
  </div>
</div>

</body>
<%= render "share/footer" %>
</html>
