</em></em></em></em>
<%= javascript_include_tag :defaults %>

<html lang="en" dir="ltr">
<head>
<%= stylesheet_link_tag "css"%>
<title>仪器设备管理</title>
</head>
<body>

<%= render "share/menu" %>

<div style="width:1000px;margin: 0 auto;margin-top:10px;">
  <!-- begin left -->
  <div class="linktree"> <span > <a href="#">主页</a> &raquo; <a href="#">仪器设备管理</a> </span> </div>
  <div id="column-left">
    <div class="box">
      <div class="box-content" style="background:none;border:none;">
        <div class="box-category">
          <ul>
            <li>仪器设备管理</a> </li>
            <li>交易管理<a href="#" class="active"></a>
              <ul>
                <li> <a href="#4"> - 审核预约单</a> </li>
                <li> <a href="#4"> - 仪器线下授权</a> </li>
                <li> <a href="#"> - 已结算交易 (0)</a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end left -->
  
  <div id="content">
    <%= yield :layout%> 
  </div>
</div>

</body>
<%= render "share/footer" %>
</html>
